################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogSiteAPI.Web/.vs/BlogSiteAPI.Web/v17
/BlogSiteAPI.Web/BlogSiteAPI.Web/obj
/BlogSiteAPI.Web/BlogSiteAPI.Web/bin/Debug/net6.0
/BlogSiteAPI.Web/BlogSiteAPI.Respository/obj/Debug/net6.0/ref
/BlogSiteAPI.Web/BlogSiteAPI.Respository/obj/Debug/net6.0
/BlogSiteAPI.Web/BlogSiteAPI.Respository/obj
/BlogSiteAPI.Web/BlogSiteAPI.Service/bin/Debug/net6.0
/BlogSiteAPI.Web/BlogSiteAPI.Service/obj
/BlogSiteAPI.Web/.vs/BlogSiteAPI.Web
/BlogSiteAPI.Web/BlogSiteAPI.Respository/bin/Debug/net6.0
